cffi==1.1.2
CherryPy==3.8.0
cryptography==0.9.3
enum34==1.0.4
github3.py==1.0.0a2
idna==2.0
ipaddress==1.0.12
ndg-httpsclient==0.4.0
pyasn1==0.1.8
pycparser==2.14
pyOpenSSL==0.15.1
PyYAML==3.11
requests==2.7.0
six==1.9.0
tangelo==0.9.0
uritemplate.py==0.3.0
ws4py==0.3.2
